{% extends 'base.html.twig' %}

{% block title %}Créer un Championnat{% endblock %}

{% block body %}
    <h1>Créer un Championnat</h1>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.sport) }}
    <button class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_championnats_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
{% endblock %}
